<app-header></app-header>

<div class="container">
    <ul class="volume">
        <li>
            <b>0.00020000</b>
            <span>Last Price</span>
        </li>
        <li>
            <b class="buy_color">0.00020000</b>
            <span>24h Change</span>
        </li>
        <li>
            <b>0.00020000</b>
            <span>24h High</span>
        </li>
        <li>
            <b class="sell_color">0.00020000</b>
            <span>24h Low</span>
        </li>
        <li>
            <b>0.00000000 BTC</b>
            <span>24h Volume</span>
        </li>
    </ul>

    <div class="grid-stack">
        <div class="grid-stack-item" data-gs-x="0" data-gs-y="2" data-gs-width="3" data-gs-height="6">
            <div class="grid-stack-item-content">
                <div class="mat-card market">
                    <div class="mat-card-title">
                        <h4>Markets</h4>
                        <div class="right">
                            <mat-form-field class="w-100">
                                <input matInput placeholder="Search">
                                <span matSuffix><mat-icon>search</mat-icon></span>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mat-card-content">
                        <mat-tab-group>
                            <mat-tab label="BTC">
                                <perfect-scrollbar class="market_order">
                                    <table mat-table [dataSource]="dataSource3" matSort class="mat-elevation-z8">
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="symbol">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> ★ </th>
                                            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                        </ng-container>
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="coin">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Coin </th>
                                            <td mat-cell *matCellDef="let element"> {{element.coin}} </td>
                                        </ng-container>
                                        
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="lastprice">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Price </th>
                                            <td mat-cell *matCellDef="let element" class="buy_color"> {{element.lastprice}} </td>
                                        </ng-container>
                                        
                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="change">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Change </th>
                                            <td mat-cell *matCellDef="let element"> {{element.change}} </td>
                                        </ng-container>
                                        
                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="volume">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Volume </th>
                                            <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
                                        </ng-container>
                                        
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns3; sticky: true"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                                    </table>
                                </perfect-scrollbar>
                            </mat-tab>
                            <mat-tab label="USDC">
                                <perfect-scrollbar class="market_order">
                                    <table mat-table [dataSource]="dataSource3">
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="symbol">
                                            <th mat-header-cell *matHeaderCellDef> ★ </th>
                                            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                        </ng-container>
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="coin">
                                            <th mat-header-cell *matHeaderCellDef> Coin </th>
                                            <td mat-cell *matCellDef="let element"> {{element.coin}} </td>
                                        </ng-container>
                                        
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="lastprice">
                                            <th mat-header-cell *matHeaderCellDef> Last Price </th>
                                            <td mat-cell *matCellDef="let element"> {{element.lastprice}} </td>
                                        </ng-container>
                                        
                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="change">
                                            <th mat-header-cell *matHeaderCellDef> Change </th>
                                            <td mat-cell *matCellDef="let element"> {{element.change}} </td>
                                        </ng-container>
                                        
                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="volume">
                                            <th mat-header-cell *matHeaderCellDef> Volume </th>
                                            <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
                                        </ng-container>
                                        
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns3; sticky: true"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                                    </table>
                                </perfect-scrollbar>
                            </mat-tab>
                            <mat-tab label="ETH">
                                <perfect-scrollbar class="market_order">
                                    <table mat-table [dataSource]="dataSource3">
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="symbol">
                                            <th mat-header-cell *matHeaderCellDef> ★ </th>
                                            <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
                                        </ng-container>
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="coin">
                                            <th mat-header-cell *matHeaderCellDef> Coin </th>
                                            <td mat-cell *matCellDef="let element"> {{element.coin}} </td>
                                        </ng-container>
                                        
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="lastprice">
                                            <th mat-header-cell *matHeaderCellDef> Last Price </th>
                                            <td mat-cell *matCellDef="let element"> {{element.lastprice}} </td>
                                        </ng-container>
                                        
                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="change">
                                            <th mat-header-cell *matHeaderCellDef> Change </th>
                                            <td mat-cell *matCellDef="let element"> {{element.change}} </td>
                                        </ng-container>
                                        
                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="volume">
                                            <th mat-header-cell *matHeaderCellDef> Volume </th>
                                            <td mat-cell *matCellDef="let element"> {{element.volume}} </td>
                                        </ng-container>
                                        
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns3; sticky: true"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns3;"></tr>
                                    </table>
                                </perfect-scrollbar>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-stack-item" data-gs-x="3" data-gs-y="4" data-gs-width="6" data-gs-height="6">
            <div class="grid-stack-item-content">
                <div class="mat-card chart">
                    <div class="mat-card-title"><h4>Chart</h4></div>
                    <div class="mat-card-content"></div>
                </div>
            </div>
        </div>
        <div class="grid-stack-item" data-gs-x="9" data-gs-y="4" data-gs-width="3" data-gs-height="11">
            <div class="grid-stack-item-content">
                <div class="mat-card">
                    <div class="mat-card-title"><h4>Trade History</h4></div>
                    <perfect-scrollbar class="mat-card-content trade_history">
                        <table mat-table [dataSource]="dataSource4">
                            <!-- Position Column -->
                            <ng-container matColumnDef="date">
                                <th mat-header-cell *matHeaderCellDef> Date </th>
                                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                            </ng-container>
                        
                            <!-- Weight Column -->
                            <ng-container matColumnDef="price">
                                <th mat-header-cell *matHeaderCellDef> Price(BTC) </th>
                                <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                            </ng-container>
    
                            <!-- Weight Column -->
                            <ng-container matColumnDef="amount">
                                <th mat-header-cell *matHeaderCellDef> Amount(ETH) </th>
                                <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns4; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns4;"></tr>
                        </table>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
        <div class="grid-stack-item" data-gs-x="0" data-gs-y="1" data-gs-width="3" data-gs-height="5">
            <div class="grid-stack-item-content">
                <div class="mat-card bs_form">
                    <div class="mat-card-title"><h4>Order Form</h4></div>
                    <mat-tab-group animationDuration="0ms">
                        <mat-tab label="BUY">
                            <div class="mat-card-content">
                                <form>
                                    <mat-form-field class="w-100">
                                        <mat-label>Select an option</mat-label>
                                        <mat-select [(value)]="selected">
                                            <mat-option value="market">Market</mat-option>
                                            <mat-option value="limit">Limit</mat-option>
                                            <mat-option value="stoplimit">Stop-Limit</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="w-100">
                                        <input matInput placeholder="Amount">
                                        <span matSuffix>ETH</span>
                                    </mat-form-field>
                                    <mat-form-field class="w-100">
                                        <input matInput placeholder="Total">
                                        <span matSuffix>BTC</span>
                                    </mat-form-field>
                                    <button mat-raised-button class="buy_button">PLACE BUY ORDER</button>
                                </form>
                            </div>
                        </mat-tab>
                        <mat-tab label="SELL">
                            <div class="mat-card-content">
                                <form>
                                    <mat-form-field class="w-100">
                                        <mat-label>Select an option</mat-label>
                                        <mat-select [(value)]="selected">
                                            <mat-option value="market">Market</mat-option>
                                            <mat-option value="limit">Limit</mat-option>
                                            <mat-option value="stoplimit">Stop-Limit</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field class="w-100">
                                        <input matInput placeholder="Amount">
                                        <span matSuffix>ETH</span>
                                    </mat-form-field>
                                    <mat-form-field class="w-100">
                                        <input matInput placeholder="Total">
                                        <span matSuffix>BTC</span>
                                    </mat-form-field>
                                    <button mat-raised-button class="sell_button">PLACE SELL ORDER</button>
                                </form>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
        <div class="grid-stack-item" data-gs-x="3" data-gs-y="3" data-gs-width="6" data-gs-height="5">
            <div class="grid-stack-item-content">
                <div class="mat-card bs_order">
                    <div class="mat-card-title"><h4>Orderbook (BTC-ETH)</h4><div class="right"><span class="bs_price buy_color">6850.5 <mat-icon>arrow_upward</mat-icon></span></div></div>
                    <div class="mat-card-content">
                        <div class="row">
                            <div class="col-md-6">
                                <perfect-scrollbar class="bs_order_height b_order">
                                    <table mat-table [dataSource]="dataSource1">
                                        <ng-container matColumnDef="amount">
                                            <th mat-header-cell *matHeaderCellDef> Amount </th>
                                            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="total">
                                            <th mat-header-cell *matHeaderCellDef> Total </th>
                                            <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="price">
                                            <th mat-header-cell *matHeaderCellDef> Price </th>
                                            <td mat-cell *matCellDef="let element" class="buy_color"> {{element.price}} <span class="depthBar"></span></td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                                    </table>
                                </perfect-scrollbar>
                            </div>
                            <div class="col-md-6">
                                <perfect-scrollbar class="bs_order_height s_order">
                                    <table mat-table [dataSource]="dataSource2">
                                        <ng-container matColumnDef="amount">
                                            <th mat-header-cell *matHeaderCellDef> Amount </th>
                                            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="total">
                                            <th mat-header-cell *matHeaderCellDef> Total </th>
                                            <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                                        </ng-container>
                                        <ng-container matColumnDef="price">
                                            <th mat-header-cell *matHeaderCellDef> Price </th>
                                            <td mat-cell *matCellDef="let element" class="sell_color"> {{element.price}} <span class="depthBar"></span></td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                                    </table>
                                </perfect-scrollbar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-stack-item" data-gs-x="0" data-gs-y="0" data-gs-width="12" data-gs-height="4">
            <div class="grid-stack-item-content">
                <div class="mat-card">
                    <div class="mat-card-title"><h4>Order History</h4></div>
                    <div class="mat-card-content">
                        <mat-tab-group animationDuration="0ms">
                            <mat-tab label="Open">
                                <perfect-scrollbar class="order_history">
                                    <table mat-table [dataSource]="dataSource5">
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="date">
                                            <th mat-header-cell *matHeaderCellDef> Date </th>
                                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                                        </ng-container>
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="pair">
                                            <th mat-header-cell *matHeaderCellDef> Pair </th>
                                            <td mat-cell *matCellDef="let element"> {{element.pair}} </td>
                                        </ng-container>
                                        
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="type">
                                            <th mat-header-cell *matHeaderCellDef> Type </th>
                                            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                                        </ng-container>
                                        
                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="price">
                                            <th mat-header-cell *matHeaderCellDef> Price </th>
                                            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                                        </ng-container>
                                        
                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="stopprice">
                                            <th mat-header-cell *matHeaderCellDef> Stop-Price </th>
                                            <td mat-cell *matCellDef="let element"> {{element.stopprice}} </td>
                                        </ng-container>
                                         <!-- Symbol Column -->
                                        <ng-container matColumnDef="amount">
                                            <th mat-header-cell *matHeaderCellDef> Amount </th>
                                            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                                        </ng-container>
                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="total">
                                            <th mat-header-cell *matHeaderCellDef> Total </th>
                                            <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                                        </ng-container>
                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="action">
                                            <th mat-header-cell *matHeaderCellDef> Action </th>
                                            <td mat-cell *matCellDef="let element"> {{element.action}} </td>
                                        </ng-container>
                                        
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns5; sticky: true"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns5;"></tr>
                                    </table>
                                </perfect-scrollbar>
                            </mat-tab>
                            <mat-tab label="Fills">
                                <perfect-scrollbar class="order_history">
                                    <table mat-table [dataSource]="dataSource5">
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="date">
                                            <th mat-header-cell *matHeaderCellDef> Date </th>
                                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                                        </ng-container>
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="pair">
                                            <th mat-header-cell *matHeaderCellDef> Pair </th>
                                            <td mat-cell *matCellDef="let element"> {{element.pair}} </td>
                                        </ng-container>
                                        
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="type">
                                            <th mat-header-cell *matHeaderCellDef> Type </th>
                                            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                                        </ng-container>
                                        
                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="price">
                                            <th mat-header-cell *matHeaderCellDef> Price </th>
                                            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                                        </ng-container>
                                        
                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="stopprice">
                                            <th mat-header-cell *matHeaderCellDef> Stop-Price </th>
                                            <td mat-cell *matCellDef="let element"> {{element.stopprice}} </td>
                                        </ng-container>
                                            <!-- Symbol Column -->
                                        <ng-container matColumnDef="amount">
                                            <th mat-header-cell *matHeaderCellDef> Amount </th>
                                            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                                        </ng-container>
                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="total">
                                            <th mat-header-cell *matHeaderCellDef> Total </th>
                                            <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                                        </ng-container>
                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="action">
                                            <th mat-header-cell *matHeaderCellDef> Action </th>
                                            <td mat-cell *matCellDef="let element"> {{element.action}} </td>
                                        </ng-container>
                                        
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns5; sticky: true"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns5;"></tr>
                                    </table>
                                </perfect-scrollbar>
                            </mat-tab>
                            <mat-tab label="Stops">
                                <perfect-scrollbar class="order_history">
                                    <table mat-table [dataSource]="dataSource5">
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="date">
                                            <th mat-header-cell *matHeaderCellDef> Date </th>
                                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                                        </ng-container>
                                        <!-- Position Column -->
                                        <ng-container matColumnDef="pair">
                                            <th mat-header-cell *matHeaderCellDef> Pair </th>
                                            <td mat-cell *matCellDef="let element"> {{element.pair}} </td>
                                        </ng-container>
                                        
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="type">
                                            <th mat-header-cell *matHeaderCellDef> Type </th>
                                            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                                        </ng-container>
                                        
                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="price">
                                            <th mat-header-cell *matHeaderCellDef> Price </th>
                                            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                                        </ng-container>
                                        
                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="stopprice">
                                            <th mat-header-cell *matHeaderCellDef> Stop-Price </th>
                                            <td mat-cell *matCellDef="let element"> {{element.stopprice}} </td>
                                        </ng-container>
                                            <!-- Symbol Column -->
                                        <ng-container matColumnDef="amount">
                                            <th mat-header-cell *matHeaderCellDef> Amount </th>
                                            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                                        </ng-container>
                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="total">
                                            <th mat-header-cell *matHeaderCellDef> Total </th>
                                            <td mat-cell *matCellDef="let element"> {{element.total}} </td>
                                        </ng-container>
                                        <!-- Symbol Column -->
                                        <ng-container matColumnDef="action">
                                            <th mat-header-cell *matHeaderCellDef> Action </th>
                                            <td mat-cell *matCellDef="let element"> {{element.action}} </td>
                                        </ng-container>
                                        
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns5; sticky: true"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns5;"></tr>
                                    </table>
                                </perfect-scrollbar>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
