<!-- <div class="navbar" role="banner">
  <img width="40" alt="Exchange Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
  <nav>
    <button mat-button routerLink="/home" routerLinkActive="active">Home</button>
    <button mat-button routerLink="/exchange" routerLinkActive="active">Exchange</button>
    <button mat-button [matMenuTriggerFor]="wallet">Funds</button>
    <mat-menu #wallet="matMenu">
      <button mat-menu-item routerLink="/wallet" routerLinkActive="active">Wallet</button>
      <button mat-menu-item>Transaction History</button>
    </mat-menu>
    <button mat-button routerLink="/orders" routerLinkActive="active">Orders</button>
    <button mat-button routerLink="/support" routerLinkActive="active">Support</button>
    <button mat-button routerLink="/news" routerLinkActive="active">News</button>
    <button mat-button [matMenuTriggerFor]="fund">Kaushik@gmail.com</button>
    <mat-menu #fund="matMenu">
      <button mat-menu-item>Account</button>
      <button mat-menu-item>My Tickets</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </nav>
</div> -->

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>

<!-- <footer>
  <span>© 2019 {{ title }} All Rights Reserved</span>
</footer> -->
<ngx-ui-loader></ngx-ui-loader>

