<div class="navbar mb-0" role="banner">
    <img width="80" alt="Exchange Logo" src="../../assets/image/logo.png" />
    <nav>
        <button mat-button routerLink="/exchange" routerLinkActive="active">Exchange</button>
        <button mat-button routerLink="/exchange" routerLinkActive="active">Community</button>
        <button mat-button routerLink="/login" routerLinkActive="active">Docs</button>
        <button mat-button routerLink="/login" routerLinkActive="active">Explorer</button>
        <button mat-button routerLink="/register" routerLinkActive="active">Create Wallet</button>
    </nav>
</div>
<section class="banner">
    <div class="container">
        <div class="banner_cont">
            <h1>The most trusted platform for trading cryptocurrency</h1>
            <p>Our Exchange offers individuals the ability to trade a variety of digital assets on a secure, insurance backed platform.</p>
            <button mat-raised-button color="primary" ngClass="btn_lg"  routerLink="/exchange">View Exchange <mat-icon>arrow_forward</mat-icon></button>
        </div>
    </div>
</section>

